<div class="jumbotron">
	<h1>About Us</h1>
	<p>Glad you stumbled across our little site. It's just a quick project I've been working on while learning Rails from <a href="http://onemonthrails.com">One Month Rails</a>. The class taught us how to build a 'Pinterest' style app and I thought I'd turn it into our wedding app with information about our wedding and some things to give you a better sense of who we are and what to expect on the big day. Enjoy!</p>
</div>